.swiper-1, .swiper-container {
    background: wheat;
    width: 600px;
    height: 300px;
}

.swiper-1 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-2 {
    width: 800px;
    height: 400px;
}